.reviewTagLabelInactive {
  display: inline-block;
  padding: 4px 6px 4px 6px;
  border-radius: 8px;
  border: 2px solid #5FB2FD;
  background: #E9F4FF;
  color: #0074E6;
}

.reviewTagLabelActive {
  display: inline-block;
  padding: 4px 6px 4px 6px;
  border-radius: 8px;
  border: 2px solid #001B33;
  background: #001B33;
  color: #E9F4FF;
}