

.swiper.swiper-initialize.swiper-wrapper{
display: inline-flex;
flex-direction: row;
flex-wrap: nowrap;
width: 100vw;
}
.swiper.swiper-slide{
  width: 75px;
  flex-shrink: 0;
}
.swiper-horizontal{
  height: 2.25rem;
}