.swiper-wrapper{
display: inline-flex;
width: 8vh;
}
.swiper-slide{
  flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper-horizontal{
  height: 2.25rem;
}