.swiper-wrapper{
display: inline-flex;
/* width: 25%; */
}
@media (min-width:200px) {
  .swiper-wrapper{
    width: 25%;
    }
}
@media (min-width:350px) {
  .swiper-wrapper{
    width: 20%;
    }
}
@media (min-width:420px) {
  .swiper-wrapper{
    width: 18%;
    }
}
@media (min-width:500px) {
  .swiper-wrapper{
    width: 14%;
    }
}
@media (max-width:699px) {
  .swiper-wrapper{
    width: 12%;
    }
}
.swiper-slide{
  flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper-horizontal{
  height: 2.25rem;
}