@import 'tailwindcss/base';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities';


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}